* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0f0e;
    color: #eeeeee;
    line-height: 1.6;
}

/* NAVBAR */
header {
    background: #101615;
    border-bottom: 1px solid #26302d;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    max-width: 1100px;
    margin: auto;
    padding: 18px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h2 {
    font-size: 25px;
    color: #ffffff;
}

nav h2 span,
span {
    color: #38d39f;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    color: #bbbbbb;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #38d39f;
}

/* HERO */
.hero {
    max-width: 1100px;
    min-height: 600px;
    margin: auto;
    padding: 80px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-text {
    max-width: 650px;
}

.small-title {
    color: #38d39f;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 55px;
    line-height: 1.1;
    margin-bottom: 25px;
}

.hero-text > p:not(.small-title) {
    color: #aaa;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 13px 25px;
    background: #38d39f;
    color: #07100d;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    opacity: 0.85;
}

/* HEALTH CARD */
.health-card {
    width: 300px;
    padding: 40px 30px;
    text-align: center;
    background: #121918;
    border: 1px solid #293632;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.health-icon {
    font-size: 70px;
    color: #38d39f;
    margin-bottom: 15px;
}

.health-card h2 {
    margin-bottom: 10px;
}

.health-card p {
    color: #999;
}

