* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0f0e;
    color: #eeeeee;
    line-height: 1.6;
}

/* NAVBAR */
header {
    background: #101615;
    border-bottom: 1px solid #26302d;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    max-width: 1100px;
    margin: auto;
    padding: 18px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h2 {
    font-size: 25px;
    color: #ffffff;
}

nav h2 span,
span {
    color: #38d39f;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    color: #bbbbbb;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #38d39f;
}

